<div class="dashboard-container">
  <mat-toolbar class="mat-elevation-z4">
    <div class="admin-details">
      <button class="thebutton" mat-button [routerLink]="['/user-dashboard']">Home</button>
    </div>
  </mat-toolbar>
  <br>
</div>
<div class="outerfeed">

  <div>

    <div class="five">

  <h1 class="feedheader">Trainer Info</h1>

  </div>

  <!-- Your navigation links with routerLink and query parameters -->

  <ul class="theul">

    <li class="thelist"><a class="theanchor" [routerLink]="['/trainerInfoUser']" [queryParams]="{ paramFlag: 3 }">View All Trainers</a></li>

    <li class="thelist"><a class="theanchor" [routerLink]="['/trainerInfoUser']" [queryParams]="{ paramFlag: 4 }">View Trainer By ID</a></li>

  </ul>

 

</div>

<div>

  <div>

 

    <div class="outeradd " *ngIf="myparam==3">

      <h2 class="feedheader">View All Trainers</h2>

 <br>

      <table class="custom-table">

        <thead>

          <tr>

            <th class="thelabel1">Trainer ID</th>

            <th class="thelabel1">Trainer Name</th>

            <th class="thelabel1">Qualification</th>

            <th class="thelabel1">Phone Number</th>

            <th class="thelabel1">Address</th>

            <th class="thelabel1">Course ID</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let train of trainers">

            <td>{{ train.trainerId }}</td>

            <td>{{ train.trainerName }}</td>

            <td>{{ train.qualification }}</td>

            <td>{{ train.phoneNumber }}</td>

            <td>{{ train.address }}</td>

            <td>{{ train.courseObj.courseId }}</td>

          </tr>

        </tbody>

      </table>

 

      <!-- <p>{{ responseMessage }}</p> -->

 

    </div>

 

    <div class="outeradd" *ngIf="myparam==4">

      <h2 class="feedheader">View Trainer By ID</h2>

      <form #trainerByIDForm="ngForm" (ngSubmit)="viewTrainerByID1()">

        <label for="trainerId">Trainer ID:</label>

        <input type="text" id="trainerId" name="trainerId" [(ngModel)]="trainer.trainerId" required #trainerId="ngModel">

        <div *ngIf="(trainerByIDForm.submitted || trainerId.touched) && trainerId.invalid" class="error">Trainer ID is required.</div><br><br>

    <button class="thebutton" type="submit">SEARCH</button>

      </form>

      <!-- <p>{{ responseMessage }}</p> -->
<br>
      <table class="custom-table">

        <thead>

          <tr>

            <th class="thelabel1">Trainer ID</th>

            <th class="thelabel1">Trainer Name</th>

            <th class="thelabel1">Qualification</th>

            <th class="thelabel1">Phone Number</th>

            <th class="thelabel1">Address</th>

            <th class="thelabel1">Course ID</th>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td>{{ train1?.trainerId }}</td>

            <td>{{ train1?.trainerName }}</td>

            <td>{{ train1?.qualification }}</td>

            <td>{{ train1?.phoneNumber }}</td>

            <td>{{ train1?.address }}</td>

            <td>{{ train1?.courseObj?.courseId }}</td>

          </tr>

        </tbody>

      </table>

 

    </div>
 

  </div>

</div>