<div class="dashboard-container">
    <mat-toolbar class="mat-elevation-z4">
        <div class="admin-details">
            <button class="thebutton" mat-button [routerLink]="['/admin-dashboard']">Home</button>
        </div>
    </mat-toolbar>
    <br>
</div>
<div class="outerfeed">

    <div>

        <div class="five">

            <h1 class="feedheader">Student Info</h1>

        </div>

        <!-- Your navigation links with routerLink and query parameters -->

        <ul class="theul">

            <li class="thelist"><a class="theanchor" [routerLink]="['/studentInfo']"
                    [queryParams]="{ paramFlag: 1 }">Add Student</a></li>

            <li class="thelist"><a class="theanchor" [routerLink]="['/studentInfo']"
                    [queryParams]="{ paramFlag: 2 }">Update Phone Number</a></li>

            <li class="thelist"><a class="theanchor" [routerLink]="['/studentInfo']"
                    [queryParams]="{ paramFlag: 3 }">View All Students</a></li>

            <li class="thelist"><a class="theanchor" [routerLink]="['/studentInfo']"
                    [queryParams]="{ paramFlag: 4 }">View Student By ID</a></li>



        </ul>



        <!-- Your content area to display results or form inputs -->

        <!-- For example, when you're viewing enrollments, you might display a table of data. -->

        <!-- When adding an enrollment, you might show a form for data input. -->



    </div>



    <div>

        <div>

            <!----- <h4>Student Module </h4>--->

            <!----- <h4>Param is {{myparam}}</h4>--->

            <div class="outeradd" *ngIf="myparam==1">

                <h2 class="feedheader">Add Student Details</h2>

                <form #studentForm="ngForm" (ngSubmit)="addStudent()">

                    <label class="thelabel" for="studentId">Student ID:</label>

                    <input type="text" id="studentId" name="studentId" [(ngModel)]="stud.studentId" required
                        #studentId="ngModel">

                    <div *ngIf="(studentForm.submitted || studentId.touched) && studentId.invalid" class="error">Student
                        ID is required.</div>

                    <br><br>



                    <label class="thelabel" for="studentname">Student Name:</label>

                    <input type="text" id="studentname" name="studentname" [(ngModel)]="stud.studentname" required
                        #studentName="ngModel">

                    <div *ngIf="(studentForm.submitted || studentName.touched) && studentName.invalid" class="error">
                        Student Name is required.</div>

                    <br><br>



                    <label class="thelabel" for="city">City</label>

                    <input type="text" id="city" name="city" [(ngModel)]="stud.city" required #city="ngModel">

                    <div *ngIf="(studentForm.submitted || city.touched) && city.invalid" class="error">City is required.
                    </div>

                    <br><br>



                    <label class="thelabel" for="phoneNumber">Phone Number:</label>

                    <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="stud.phoneNumber" required
                        #phoneNumber="ngModel">

                    <div *ngIf="(studentForm.submitted || phoneNumber.touched) && phoneNumber.invalid" class="error">
                        Phone Number is required and should be a 10-digit number.</div>

                    <br><br>



                    <label class="thelabel" for="emailId">Email ID</label>

                    <input type="text" id="emailId" name="emailId" [(ngModel)]="stud.emailId" required
                        #emailId="ngModel">

                    <div *ngIf="(studentForm.submitted || emailId.touched) && emailId.invalid" class="error">Email Id is
                        required.</div>

                    <br><br>





                    <label class="thelabel" for="dob">DOB:</label>

                    <input type="date" id="dob" name="dob" [(ngModel)]="stud.dob" required #dob="ngModel">

                    <div *ngIf="(studentForm.submitted || dob.touched) && dob.invalid" class="error">DOB is required.
                    </div>

                    <br><br>

                    <button class="thebutton" type="submit">ADD</button>

                </form>



                <p>{{ responseMessage }}</p>



            </div>



            <div class="outeradd" *ngIf="myparam==2">

                <h2 class="feedheader">Update Phone Number</h2>

                <form #updatePhoneNumberForm="ngForm" (ngSubmit)="updatePhoneNumber()">

                    <label class="thelabel" for="studentId">Student Id:</label>

                    <input type="text" id="studentId" name="studentId" [(ngModel)]="stud.studentId" required
                        #studentId="ngModel">

                    <div *ngIf="( studentId.touched) && studentId.invalid" class="error">Student ID is required.</div>

                    <br><br>



                    <label class="thelabel" for="phoneNumber">Phone Number:</label>

                    <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="stud.phoneNumber" required
                        #phoneNumber="ngModel">

                    <div *ngIf="( phoneNumber.touched) && phoneNumber.invalid" class="error">Phone Number is required
                        and should be a 10-digit number.</div>

                    <br><br>





                    <button class="thebutton" type="submit" [disabled]="updatePhoneNumberForm.invalid">UPDATE</button>

                </form>



                <p>{{ responseMessage }}</p>



            </div>



            <div class="outeradd" *ngIf="myparam==3">

                <h2 class="feedheader">View All Students</h2>

                <br>

                <table class="custom-table">

                    <thead>

                        <tr>

                            <th class="tableheader">Student ID</th>

                            <th class="tableheader">Student Name</th>

                            <th class="tableheader">City</th>

                            <th class="tableheader">Phone Number</th>

                            <th class="tableheader">Email ID</th>

                            <th class="tableheader">DOB</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let student of students">

                            <td>{{ student.studentId }}</td>

                            <td>{{ student.studentname }}</td>

                            <td>{{ student.city }}</td>

                            <td>{{ student.phoneNumber}}</td>

                            <td>{{ student.emailId}}</td>

                            <td>{{ student.dob }}</td>

                        </tr>

                    </tbody>

                </table>

                <p>{{ responseMessage }}</p>

            </div>



            <div class="outeradd" *ngIf="myparam==4">

                <h2 class="feedheader">View Student By ID</h2>

                <form #studentByIDForm="ngForm" (ngSubmit)="viewStudentByID()">

                    <label class="thelabel1" for="studentId">Student ID:</label>

                    <input type="text" id="studentId" name="studentId" [(ngModel)]="stud.studentId" required
                        #studentId="ngModel">

                    <div *ngIf="( studentId.touched) && studentId.invalid" class="error">Student ID is required.</div>

                    <br><br>



                    <button class="thebutton" type="submit">SEARCH</button>

                </form>

                <p>{{ responseMessage }}</p>




                <br>
                <table class="custom-table">

                    <thead>

                        <tr>

                            <th class="tableheader">Student ID</th>

                            <th class="tableheader">Student Name</th>

                            <th class="tableheader">City</th>

                            <th class="tableheader">Phone Number</th>

                            <th class="tableheader">Email ID</th>

                            <th class="tableheader">DOB</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>{{ stud1?.studentId }}</td>

                            <td>{{ stud1?.studentname }}</td>

                            <td>{{ stud1?.city }}</td>

                            <td>{{ stud1?.phoneNumber}}</td>

                            <td>{{ stud1?.emailId}}</td>

                            <td>{{ stud1?.dob }}</td>

                        </tr>

                    </tbody>

                </table>



            </div>

        </div>

    </div>