<div class="dashboard-container">
  <mat-toolbar class="mat-elevation-z4">
    <div class="admin-details">
      <button class="thebutton" mat-button [routerLink]="['/user-dashboard']">Home</button>
    </div>
  </mat-toolbar>
  <br>
</div>
<div class="outerfeed">
<div class="sidenav">

  <h1 class="feedheader">Course Info</h1>
<ul class="theul">
  <li class="thelist"><a class="theanchor" [routerLink]="['/courseInfoUser']" [queryParams]="{ paramFlag: 3 }">View All Courses</a></li>
  <li class="thelist"><a class="theanchor" [routerLink]="['/courseInfoUser']" [queryParams]="{ paramFlag: 4 }">View Course By ID</a></li>
  <li class="thelist"><a class="theanchor" [routerLink]="['/courseInfoUser']" [queryParams]="{ paramFlag: 5 }">View Course By Category And Duration</a></li>
</ul>
</div>

<div>   

</div>

<div>

  <div class = "ViewAllCourses outeradd" *ngIf = "paramFlag==3">

    <h2 class="feedheader">View All Courses</h2>

    <form (ngSubmit)="viewAll()">

      <button class="thebutton" type = "submit" > View All</button>

    </form>
<br>
<table class="custom-table">

  <thead>

    <tr>

      <th class="tableheader">Course ID</th>

      <th class="tableheader">Course Name</th>

      <th class="tableheader">Duration</th>

      <th class="tableheader">Category</th>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let course of courses">

      <td>{{ course.courseId }}</td>

      <td>{{ course.courseName }}</td>

      <td>{{ course.duration }}</td>

      <td>{{ course.category }}</td>

    </tr>

  </tbody>

</table>

 

<!-- Display success message -->

<div *ngIf="successMessage">View all for course done successfully</div>

</div>

</div>

 

 

 

  <div class = "ViewCourseByID outeradd" *ngIf = "paramFlag==4">

    <h2 class="feedheader">View Course By ID</h2>

    <form #courseByIdForm = "ngForm" (ngSubmit) = "viewCourseByID()">

      <label class="thelabel1" for="courseId">Course ID</label>

      <input type="text" id="courseId" [(ngModel)]="courseId" name="courseId" #IdControl = "ngModel" required>

    <span *ngIf="IdControl.invalid && IdControl.touched"> ID is required</span>

 

        <br><br>

      <button class="thebutton" (click)="viewCourseByID()">SEARCH</button>

    </form>

 

 

<div *ngIf="course">

  <h3 class="feedheader">Course Details</h3>
<br>
  <table class="custom-table">

    <tr>

      <th class="thelabel1">Course ID</th>

      <th class="thelabel1">Course Name</th>

      <th class="thelabel1">Duration</th>

      <th class="thelabel1">Category</th>

    </tr>

    <tr>

      <td>{{ courseUpdated.courseId }}</td>

      <td>{{ courseUpdated.courseName }}</td>

      <td>{{ courseUpdated.duration }}</td>

      <td>{{ courseUpdated.category }}</td>

    </tr>

  </table>

  <p>Course ID {{ course.courseId }} details retrieved successfully</p>

</div>

 

<div *ngIf="errorMessage">

  <p>{{ errorMessage }}</p>

</div>

</div>

<div>

  <div>

    <div class = "ViewCourseByCategoryAndDuration" *ngIf = "paramFlag==5">

      <h2 class="feedheader">View Course By Category And Duration</h2>

    <form (ngSubmit)="viewCourseByCategoryAndDuration()">

      <label class="thelabel1" for="category">Category</label>

      <select id="category" [(ngModel)]="selectedCategory" name="category" required>

        <option value="Programming">English</option>

        <option value="Maths">Maths</option>

        <option value="Science">Science</option>

        <option value="Design">Social Science</option>

        <option value="Business">Computer Science</option>
      </select>

 

      <label class="thelabel1" for="duration">Duration</label>

      <input type="number" id="duration" [(ngModel)]="selectedDuration" name="duration" required>

 

      <button type="submit">SEARCH</button>

    </form>

  </div>

  <div class = "ViewCourseByCategoryAndDuration" *ngIf = "paramFlag==5">

   
<br>
<table class="custom-table">

  <thead>

    <tr>

      <th class="thelabel1">Course ID</th>

      <th class="thelabel1">Course Name</th>

      <th class="thelabel1">Duration</th>

      <th class="thelabel1">Category</th>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let course of courseByCD">

      <td>{{ course.courseId }}</td>

      <td>{{ course.courseName }}</td>

      <td>{{ course.duration }}</td>

      <td>{{ course.category }}</td>

    </tr>

  </tbody>

</table>

 

<!-- Display success message -->

<div *ngIf="successMessage">View all for course done successfully</div>

</div>

 

 

</div>