<div class="dashboard-container">
    <mat-toolbar class="mat-elevation-z4">
      <div class="admin-details">
        <button class="thebutton" mat-button [routerLink]="['/user-dashboard']">Home</button>
      </div>
    </mat-toolbar>
    <br>
  </div>
<div class="outerfeed">

    <div>

        <div class="five">

            <h1 class="feedheader">Student Info</h1>

        </div>

        <!-- Your navigation links with routerLink and query parameters -->

        <ul class="theul">

            <li class="thelist"><a class="theanchor" [routerLink]="['/studentInfoUser']"
                    [queryParams]="{ paramFlag: 3 }">View All Students</a></li>

            <li class="thelist"><a class="theanchor" [routerLink]="['/studentInfoUser']"
                    [queryParams]="{ paramFlag: 4 }">View Student By ID</a></li>



        </ul>



    </div>



    <div>

        <div>
            <div class="outeradd" *ngIf="myparam==3">

                <h2 class="feedheader">View All Students</h2>

<br>

                <table class="custom-table">

                    <thead>

                        <tr>

                            <th class="tableheader">Student ID</th>

                            <th class="tableheader">Student Name</th>

                            <th class="tableheader">City</th>

                            <th class="tableheader">Phone Number</th>

                            <th class="tableheader">Email ID</th>

                            <th class="tableheader">DOB</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let student of students">

                            <td>{{ student.studentId }}</td>

                            <td>{{ student.studentname }}</td>

                            <td>{{ student.city }}</td>

                            <td>{{ student.phoneNumber}}</td>

                            <td>{{ student.emailId}}</td>

                            <td>{{ student.dob }}</td>



                        </tr>

                    </tbody>

                </table>



                <p>{{ responseMessage }}</p>



            </div>



            <div class="outeradd" *ngIf="myparam==4">

                <h2 class="feedheader">View Student By ID</h2>

                <form #studentByIDForm="ngForm" (ngSubmit)="viewStudentByID()">

                    <label class="thelabel1" for="studentId">Student ID:</label>

                    <input type="text" id="studentId" name="studentId" [(ngModel)]="stud.studentId" required
                        #studentId="ngModel">

                    <div *ngIf="( studentId.touched) && studentId.invalid" class="error">Student ID is required.</div>

                    <br><br>



                    <button class="thebutton" type="submit">SEARCH</button>

                </form>

                <p>{{ responseMessage }}</p>

<br>

                <table class="custom-table">

                    <thead>

                        <tr>

                            <th class="tableheader">Student ID</th>

                            <th class="tableheader">Student Name</th>

                            <th class="tableheader">City</th>

                            <th class="tableheader">Phone Number</th>

                            <th class="tableheader">Email ID</th>

                            <th class="tableheader">DOB</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>{{ stud1?.studentId }}</td>

                            <td>{{ stud1?.studentname }}</td>

                            <td>{{ stud1?.city }}</td>

                            <td>{{ stud1?.phoneNumber}}</td>

                            <td>{{ stud1?.emailId}}</td>

                            <td>{{ stud1?.dob }}</td>

                        </tr>

                    </tbody>

                </table>



            </div>

        </div>

    </div>