<div class="dashboard-container">
  <mat-toolbar class="mat-elevation-z4">
    <div class="admin-details">
      <button class="thebutton" mat-button [routerLink]="['/admin-dashboard']">Home</button>
    </div>
  </mat-toolbar>
  <br>
</div>
<div class="outerfeed">



  <div>



    <div class="five">

      <h1 class="feedheader">Trainer Info</h1>

    </div>

    <!-- Your navigation links with routerLink and query parameters -->

    <ul class="theul">

      <li class="thelist"><a class="theanchor" [routerLink]="['/trainerInfo']" [queryParams]="{ paramFlag: 1 }">Add
          Trainer</a></li>

      <li class="thelist"><a class="theanchor" [routerLink]="['/trainerInfo']" [queryParams]="{ paramFlag: 2 }">Update
          Course</a></li>

      <li class="thelist"><a class="theanchor" [routerLink]="['/trainerInfo']" [queryParams]="{ paramFlag: 3 }">View All
          Trainers</a></li>

      <li class="thelist"><a class="theanchor" [routerLink]="['/trainerInfo']" [queryParams]="{ paramFlag: 4 }">View
          Trainer By ID</a></li>

    </ul>



    <!-- Your content area to display results or form inputs -->

    <!-- For example, when you're viewing enrollments, you might display a table of data. -->

    <!-- When adding an enrollment, you might show a form for data input. -->



  </div>

  <div>

    <div>

      <!-- <h4>Trainer Module </h4>

    <h4>Param is {{myparam}}</h4> -->

      <div class="outeradd" *ngIf="myparam==1">

        <h2 class="feedheader">Add Trainer Details</h2>



        <form #trainerForm="ngForm" (ngSubmit)="addTrainer()">

          <label class="thelabel" for="trainerId">Trainer ID:</label>

          <input type="text" id="trainerId" name="trainerId" [(ngModel)]="trainer.trainerId" required
            #trainerId="ngModel">

          <div *ngIf="(trainerForm.submitted || trainerId.touched) && trainerId.invalid" class="error">Trainer ID is
            required.</div><br><br>



          <label class="thelabel" for="trainerName">Trainer Name:</label>

          <input type="text" id="trainerName" name="trainerName" [(ngModel)]="trainer.trainerName" required
            #trainerName="ngModel">

          <div *ngIf="(trainerForm.submitted || trainerName.touched) && trainerName.invalid" class="error">Trainer Name
            is required.</div><br><br>



          <label class="thelabel" for="qualification">Qualification:</label>

          <input type="text" id="qualification" name="qualification" [(ngModel)]="trainer.qualification" required
            #qualification="ngModel">

          <div *ngIf="(trainerForm.submitted || qualification.touched) && qualification.invalid" class="error">
            Qualification is required.</div><br><br>



          <label class="thelabel" for="phoneNumber">Phone Number:</label>

          <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="trainer.phoneNumber" pattern="[0-9]{10}"
            required #phoneNumber="ngModel">

          <div *ngIf="(trainerForm.submitted || phoneNumber.touched) && phoneNumber.invalid" class="error">Phone Number
            is required and should be a 10-digit number.</div><br><br>



          <label class="thelabel" for="address">Address:</label>

          <input type="text" id="address" name="address" [(ngModel)]="trainer.address" required #address="ngModel">

          <div *ngIf="(trainerForm.submitted || address.touched) && address.invalid" class="error">Address is required.
          </div><br><br>



          <label class="thelabel" for="courseId">Course ID:</label>

          <input type="text" id="courseId" name="courseId" [(ngModel)]="trainer.courseObj.courseId" required
            #courseId="ngModel">

          <div *ngIf="(trainerForm.submitted || courseId.touched) && courseId.invalid" class="error">Course ID is
            required.</div><br><br>



          <button class="thebutton" type="submit" [disabled]="trainerForm.invalid">ADD</button>

        </form>





        <!-- <p>{{ responseMessage }}</p> -->



      </div>



      <div class="outeradd" *ngIf="myparam==2">

        <h2 class="feedheader">Update Course</h2>

        <form #updateCourseForm="ngForm" (ngSubmit)="updateCourse()">



          <label class="thelabel" for="courseId">Course ID:</label>

          <input type="text" id="courseId" name="courseId" [(ngModel)]="trainer.courseObj.courseId" required
            #courseId="ngModel">

          <div *ngIf="(updateCourseForm.submitted || courseId.touched) && courseId.invalid" class="error">Course ID is
            required.</div><br><br>



          <label class="thelabel" for="trainerId">Trainer ID:</label>

          <input type="text" id="trainerId" name="trainerId" [(ngModel)]="trainer.trainerId" required
            #trainerId="ngModel">

          <div *ngIf="(updateCourseForm.submitted || trainerId.touched) && trainerId.invalid" class="error">Trainer ID
            is required.</div><br><br>







          <button class="thebutton" type="submit">UPDATE</button>

        </form>



        <!-- <p>{{ responseMessage }}</p> -->



      </div>



      <div class="outeradd" *ngIf="myparam==3">

        <h2 class="feedheader">View All Trainers</h2>
<br>


        <table class="custom-table">

          <thead>

            <tr>

              <th class="thelabel1">Trainer ID</th>

              <th class="thelabel1">Trainer Name</th>

              <th class="thelabel1">Qualification</th>

              <th class="thelabel1">Phone Number</th>

              <th class="thelabel1">Address</th>

              <th class="thelabel1">Course ID</th>

            </tr>

          </thead>

          <tbody>

            <tr *ngFor="let train of trainers">

              <td>{{ train.trainerId }}</td>

              <td>{{ train.trainerName }}</td>

              <td>{{ train.qualification }}</td>

              <td>{{ train.phoneNumber }}</td>

              <td>{{ train.address }}</td>

              <td>{{ train.courseObj.courseId }}</td>

            </tr>

          </tbody>

        </table>



        <!-- <p>{{ responseMessage }}</p> -->



      </div>



      <div class="outeradd" *ngIf="myparam==4">

        <h2 class="feedheader">View Trainer By ID</h2>

        <form #trainerByIDForm="ngForm" (ngSubmit)="viewTrainerByID()">

          <label for="trainerId">Trainer ID:</label>

          <input type="text" id="trainerId" name="trainerId" [(ngModel)]="trainer.trainerId" required
            #trainerId="ngModel">

          <div *ngIf="(trainerByIDForm.submitted || trainerId.touched) && trainerId.invalid" class="error">Trainer ID is
            required.</div><br><br>

          <button class="thebutton" type="submit">SEARCH</button>

        </form>

        <!-- <p>{{ responseMessage }}</p> -->
<br>
        <table class="custom-table">

          <thead>

            <tr>

              <th class="thelabel1">Trainer ID</th>

              <th class="thelabel1">Trainer Name</th>

              <th class="thelabel1">Qualification</th>

              <th class="thelabel1">Phone Number</th>

              <th class="thelabel1">Address</th>

              <th class="thelabel1">Course ID</th>

            </tr>

          </thead>

          <tbody>

            <tr>

              <td>{{ train1?.trainerId }}</td>

              <td>{{ train1?.trainerName }}</td>

              <td>{{ train1?.qualification }}</td>

              <td>{{ train1?.phoneNumber }}</td>

              <td>{{ train1?.address }}</td>

              <td>{{ train1?.courseObj?.courseId }}</td>

            </tr>

          </tbody>

        </table>



      </div>







    </div>

  </div>